<div class='container'>
    <div>
        <h1> <%= @user.email %> </h1>
    </div>
    <div class="row">
        Created: <%= @user.created_at %> - Last Updated <%= @user.updated_at %>
    </div>
</div>